/* zoom on click hacks 
https://stackoverflow.com/questions/39858998/zoom-in-and-out-on-mouse-click-with-css 
*/

.left_panel {
  left:-8.33%;
  text-align: left;
  float: left;
  width:50%;
  z-index:-10;
}

.right_panel {
  left:31.25%;
  top: 75px;
  float: right;
  text-align: right;
  z-index:-10;
  width:50%;
}


.zoom_plot {
    transition: transform .5s; /* Animation */
}

.zoom_plot:hover {
    transform: scale(1.5); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
    transition-delay: 1.5s;
}
